/* @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap'); */

body {
    font-family: 'Roboto Condensed', 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    line-height: 180%;
    text-align: center;
    color: #293c4b;
    background-color: #eeeeee;
}

div.header {
    height: 8em;
    margin: 0;
}

div.header h1 {
    position: relative;
    top: 20%;
    display: block;
    float: left;    
    font-size: 5vw;
    font-weight: bold;    
    /* margin:0; */
    /* padding: 0 0.2em 0; */
    /* margin-left: 0.5em; */
    animation-name: fade-opacity;
    animation-duration: 2.25s;
}

div.header h2 {
    position: relative;
    top: 30%;
    display: block;
    float: left;    
    font-size: 2.5vw;
    font-weight: bold;    
    line-height: 120%;
    margin: 0 20vw 0 0;
    animation-name: fade-opacity;
    animation-duration: 2.25s;
}

@keyframes fade-opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}

div.header > img.discover {
    height: 100%;
    min-height: 100%;
    float:left;
    padding: 0;
    margin: 0;
    clear: both;
    animation-name: pulse-cw-logo;
    animation-direction: alternate;
    animation-duration: 0.65s;
    animation-iteration-count: infinite;
}

div.header > img.logo {
    height: 100%;
    min-height: 100%;
    float:left;
    padding: 0;
    margin: 0;
    clear: both;
    animation-name: rotate-cw-logo;
    animation-duration: 0.25s;
}

div.header > img.clicked {
    height: 100%;
    min-height: 100%;
    float:left;
    clear: both;
    padding: 0;
    top: 0;
    left:0;
    animation-name: rotate-cc-logo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes pulse-cw-logo {
    0% { transform: scale(1); }
    100% { transform: scale(0.75); }
}

@keyframes rotate-cc-logo {
    from { transform: rotate(0deg); }
    to { transform: rotate(90deg); }
}

@keyframes rotate-cw-logo {
    from { transform: rotate(90deg); }
    to { transform: rotate(0deg); }
}

div.menu {
    display: block;
    float: right;
    /* height: 100vh; */
    margin: 0.25em;
    font-size: 1.25em;
}

div.menu > ul {
    list-style: none;
    margin: 0;
    float: left;
    padding: 0;
    margin: 0.5em;
}

a {
    color: inherit;
    text-decoration: none;
}

div.menu a:hover {
    text-decoration: underline;
}

div.menu li {
    text-align: left;
}

div.menu.active {
    animation-name: show-menu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

div.menu.hidden {
    animation-name: hide-menu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes show-menu {
    from { transform: translateX(0%); }
    to { transform: translateX(100%); }
}

@keyframes hide-menu {
    from { transform: translateX(200%); }
    to { transform: translateX(0%); }
}

div.content {
    display: block;
    float: left;
    margin: 0.1em;
}

#main > * {
  display: none;
}
#main > *:target,
#main > *:last-child {
  display: block;
}
#main > *:target {
    animation: bounceIn .75s;
}
#main > *:target ~ * {
  display: none;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.355, 0.755, 1);
  }
  0% {
      opacity: 0;
      /* transform: scale3d(0.3, 0.3, 0.3); */
  }
  to {
      opacity: 1;
      /* transform: scale3d(1, 1, 1); */
  }
}

section h2 {
    /* font-size: 2.5em; */
    font-size: 3vw;
    line-height: 120%;
    margin: 0.1em;
    display: block;
}

section h3 {
    font-weight: bold;
    font-size: 1.75em;
    margin: 1.5em 1em 1em 1em;
    display: block;
}

section p {
    font-size: 1.35em;
    text-align: left;
    padding: 0 2em 0 2em;
    margin: 0.1em;
    display: block;
}

img.usecase {
    width: 28vw;
}

#contacts h3 {
    text-align: left;    
}

figure {
  display: table;
    float:left;
}

figcaption {
  display: table-caption;
  caption-side: top;
  font-size: 1.5em;
  margin: 1.5em;
}
